In [ ]:
a=input('Please enter your name\n')
print(a)

In [ ]:
first_name=input('Enter your first name:\n')
last_name=input('Enter your last_name:\n')
email=input('Enter your email ID:')

print(first_name,last_name,email)

In [ ]:
number_1= input('enter first number')
number_2= input('enter second number')
number_1=int(number_1)
number_2=int(number_2)
sum= number_1+number_2
product= number_1*number_2
print(sum)
print(product)

In [ ]:


name=input('enter your name\n')
start_city=input('enter your starting city\n')
destination=input('enter your destination\n')
transport=input('enter your mode of transport\n')

print(name,"is travelling from",start_city,"to",destination,"by",transport)

In [ ]:
number_1= input('enter first number')
number_2= input('enter second number')
number_1=int(number_1)
number_2=int(number_2)
sum= number_1+number_2
product= number_1*number_2
print(sum)
print(product)

In [ ]:
length=int(input('enter length'))
breadth=int(input('enter breadth'))
height=int(input('enter height'))

volume=length*breadth*height

print("Volume of Cuboid is:",volume)

In [ ]:
1==true

In [ ]:
"abc"<"abd"
"abcd">"abc"
2==2.0
1==True
0!=True

In [ ]:
name = input("Enter your name\n")
if name == "Harry" or name=="Harry Potter":
    print("Welcome to Gryffindor, Mr.Potter!")

else:
    print("Sorry, Hogwarts is full")

In [ ]:
first=int(input('Enter first number'))
second=int(input('Enter second number'))
third=int(input('Enter third number'))

if first>second and third:
    largest = first

    
elif second> first and third:
    largest = second
    
else:
    largest = third

print("Largest number is", largest)

In [ ]:
angle_1=int(input('Enter first angle:'))
angle_2=int(input('Enter second angle:'))
angle_3=int(input('Enter third angle:'))

if  (angle_1>0 and angle_2>0 and angle_3>0) and (angle_1+angle_2+angle_3 ==180):
    print('Angles are valid')
else:
    print('Angles are not valid')

if angle_1<90 and angle_2<90 and angle_3<90:
     print('Triangle is acute')

if angle_1>90 or angle_2>90 or angle_3>90:
     print('Triangle is obtuse')
if angle_1==90 or angle_2==90 or angle_3==90:
    print('Triangle is right angle')

In [ ]:
a= int(input('Enter first value'))
b= int(input('Enter second value'))
c= int(input('Enter third value'))

if b*b-4*a*c==0:
    print('Quadratic equation has one real solution')
if b*b-4*a*c>0:
    print('Quadratic equation has two real solutions')
if b*b-4*a*c<0:
    print('Quadratic equation has two complex solutions')

In [ ]:
a="dbuqwcdilasnd2i8343ü2jfnecadupj948üjhdawbc748h39h993898edwouejioiefj0f3294u8j4o2je0qjw80hjf08heaihe8rhf8q4h9hiusnkjavphhsupncreucnrpuihfuibvruiruirruuuuuuuiiiiiiiiiiiiiiicsirraip"
print(len(a))

The above program is for finding length of the given string

In [ ]:
list=[1,2,2,5,8,9,6,3,4]
list.reverse()
print(list)

In [ ]:
9//4

In [ ]:
not(100<99)

In [ ]:
17>10

In [ ]:
(25>100) and (25<100)

In [ ]:
25=="25"

In [ ]:
numbers=list(range(0,200,25))
print(numbers)

In [ ]:
for numbers in range(200):
    if numbers== 50:
        break
    print(numbers)

In [ ]:
for numbers in range(0,200):
    continue
    if numbers==150:
        break
    if numbers==200:
        break
    print(numbers)

In [ ]:
def my_module ():
    print("my_module")

In [ ]:
import my_module

In [ ]:
def meinmodul():

In [ ]:
def meinmodul():
    print("Das ist mein modul")

In [ ]:
import meinmodul

In [ ]:
a= [1,2,3,4]
b= [4,5,8,9]
c= 3 in a
print(c)

In [ ]:
list=[1,4,5,8,9,6,3,2]
list[5]=10
print(list)

In [ ]:
name='SaiKamal'
print(name [2])
print(name [3])

In [ ]:
star_wars_movies = [["The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"],  ["A New Hope", "The Empire Strikes Back", "Return of the Jedi"],   ["The Force Awakens", "The Last Jedi", "The Rise of Skywalker"]]

trilogy = input('Enter number of the trilogy\n')
print(star_wars_movies [0] or [1] or [2])

film = input('Enter of film\n')
print(star_wars_movies [0][-1] or [0][-2] or [0][-3] or [1][-1] or [1][-2] or [1][-3] or [2][-1] or [2][-2] or [2][-3])

In [ ]:
star_wars_movies = [
    ["The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"],  
    ["A New Hope", "The Empire Strikes Back", "Return of the Jedi"],   
    ["The Force Awakens", "The Last Jedi", "The Rise of Skywalker"]
]

try:
    # Take input for trilogy
    trilogy = int(input('Enter number of the trilogy\n'))-1
    # Check weather the index is 0 to 2 corresponding 1 - 3 selection
    assert trilogy>=0 and trilogy <=2
    print(star_wars_movies[trilogy])

    # Take input for film
    film = int(input('Enter of film\n')) - 1
    # Check weather the index is 0 to 2 corresponding 1 - 3 selection
    assert film >=0 and film <=2
    print(star_wars_movies[trilogy][film])
    
except:
    print("Selected option not found in the list")

In [ ]:
list_stocks = [["SAP", 106, -3.0], ["AAPL", 165, 1.25], ["TSLA", 860, 54.2], ["ORCL", 76, -0.25], ["ZM", 114, 6.2]]
sell_stocks = (list_stocks, [2][-3] and [4][-3] and [1][-3])
print(sell_stocks)

In [ ]:
for number in range(10, 20) :
    print(number)

In [ ]:
for value in range(1,10):
    print(value)

In [ ]:
start = int(input("Enter your starting number"))
to = int(input("Enter your last number"))
increment = int(input("Enter your step size"))

for i in range(start ,to, increment) :
    print(i)

In [ ]:
list=[1,5,4,8,9,10,11,19]
list_1=[1,2]
print(len(list))
print(min(list))
print(max(list_1))
print(list+list_1)

i=int(input('Enter the value'))
if i in list and list_1:
    print('The entered number is available')
else:
    print('Entered number is not available')

In [ ]:
for i in range (1,100):
    print('i')

In [ ]:
for i in range (1,100):
    
    if i % 3 == 0 and i % 5 == 0 :
            print("FizzBuzz")
    if i % 3 == 0:
        print("Fizz")
    
    if i % 5 == 0:
        print("Buzz")
    
    else :
        print(i)

In [ ]:
initial_stock = int(input("Enter initial stock level value"))

In [ ]:
stocks = [["SAP", 106, -3.0], ["AAPL", 165, 1.25], ["TSLA", 860, 54.2], ["ORCL", 76, -0.25], ["ZM", 114, 6.2]] 

sell=0

for value in stocks:
    sell.append(value(stocks)>=5)
    print("List of stock symbols are",sell)

In [ ]:
stocks = [["SAP", 106, -3.0], ["AAPL", 165, 1.25], ["TSLA", 860, 54.2], ["ORCL", 76, -0.25], ["ZM", 114, 6.2]]

In [ ]:
stocks

In [ ]:
for stock in stocks:
    if stock[2] > 5:
        print(stock[0])

In [ ]:
numbers=list(range(0,200,25))
print(numbers)

In [ ]:
for numbers in range(200):
    if numbers== 50:
        break
    print(numbers)

In [ ]:
for numbers in range(200):
    if numbers==150:
        break
    if numbers==200:
        break
    print(numbers)

In [ ]:
def mymodule():
    print("mymodule")

In [ ]:
def double(d):
    return d*2

d = double(10)
print(d)
print(double("Hello Sai Kamal\n"))

In [ ]:
print?

In [ ]:
def best_quote():
    return 42

value = 42
print("Never give up",value)

In [ ]:
def is_kamal_a_good_boy():
    return True or False

if is_kamal_a_good_boy:
    print("of course")
else:
    print("of course not")

In [9]:
def get_student_data():
    name=str(input("Enter your name\n"))
    first_name=str(input("Enter your first name\n"))
    value=int(input("Enter student ID\n"))
    
    student_details = list()
    student_details.append(name)
    student_details.append(first_name)
    student_details.append(value)

    return tuple(student_details)

student_1 = get_student_data()

print(student_1)

Enter your name
Sai
Enter your first name
Kamal
Enter student ID
419361
('Sai', 'Kamal', 419361)

In [24]:
# PYTHON PROGRAM FOR CHECKING IF A VALUE IS PALINDROME OR NOT

def is_palindrome(s):
    s = s.lower()
    s = s.upper()
    s = input("enter your value")
    
    if s == s [::-1]:
        return True
    else:
        return False
print(is_palindrome("s"))

enter your valuelol
True

In [14]:
num = input("Enter a number")
if num == num[::-1]:
	print("Yes its a palindrome")
else:
	print("No, its not a palindrome")

Enter a number45
No, its not a palindrome